*.exe
*.out
*.svg
*.o
*.obj
*.pdb
*.ilk
*.gch
.vscode
output.txt
DOCS
input.txt
output1.txt
output2.txt
HeroOut.txt
HeroSVGOut.txt
HeroTextOut.txt
ObserverOut.txt
ObserverSvgOut.txt
ObserverTextOut.txt
performance_warnings.txt
style_warnings.txt
warnings.txt
gtest.sh